<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}
    {% endblock %}    

</head>
<body>
    <nav class="main-nav">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="{% url 'home' %}">Server Configurations</a>
            </div>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}" class="nav-item">Home</a></li>
                <li><a href="{% url 'components' %}" class="nav-item">Components</a></li>
                <li><a href="{% url 'systems' %}" class="nav-item">Systems</a></li>
                <li><a href="{% url 'databases' %}" class="nav-item">Databases</a></li>
                <li><a href="{% url 'storage_view' %}" class="nav-item">Storage</a></li>
                <li><a href="{% url 'django_guides' %}" class="nav-item">Django Guides</a></li>
                <li><a href="{% url 'admin:index' %}" class="nav-item">Admin</a></li>
                <li style="margin-left: auto;"><a href="{% url 'logout' %}" class="nav-item">Logout ({{ user.username }})</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
